<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Mail Makerについて</title>
        <link rel="icon" href="img/favicon.ico">
        <meta name="description" content="Mail Makerについて">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">
                        HOME
                        </a>
                    </li>
                    <li>
                        <a href="about.html">
                        ABOUT
                        </a>
                    </li>
                    <a href="https://mail.google.com/" target="_blank">
                        <li>Gmail</li>
                    </a>
                </ul>
            </nav>
        </header>

        <section>
        <!-- <img src=""> -->
        <img src="img/pcman.png" width="200" height="176" alt="忙しい人のアイコン">
        <h1>Mail Makerについて</h1><!--ヘッダ -->
        <p>業務用メールの手間を減らすためのアプリです。
        </p> <!-- 文章 -->
        </section>
        
        <footer>
        <p>(c) Takuhiro Sunada</p>
        </footer>
    </body>
</html>
